/**
 * @file
 * Styles for the Page Not Found (404) page.
 */
.page-not-found {
  padding-block: 60px 80px;

  & .container > * {
    max-width: 780px;
  }
  & h1 {
    margin-top: 0;
    padding-bottom: 0;
    border: none;
  }
  & p {
    font-size: 1.5rem;
  }
  & .views-exposed-form {
    --size-input-border-radius: var(--size-border-radius-medium);
    --size-input-height: 4rem;
    --size-button-distance: 8px;
    position: relative;
    margin-top: 3rem;
  }
  & .form-control {
    width: 100%;
    height: var(--size-input-height);
    padding-inline: 1rem 3.5rem;
    background-color: var(--clr-ssc-white);
    border: solid 3px var(--clr-ssc-violet-regular);
    border-radius: 100vw !important;
    color: var(--clr-ssc-black) !important;
    font-size: 1.5rem;

    &::placeholder {
      opacity: 0.5;
    }
  }
  & .form-actions {
    position: absolute;
    top: var(--size-button-distance);
    right: var(--size-button-distance);
    width: calc(var(--size-input-height) - calc(var(--size-button-distance)* 2));
    aspect-ratio: 1;
    margin: 0 !important;
  }
  & .form-submit {
    width: 100%;
    height: 100%;
    border-radius: 100vw !important;
    background-color: var(--clr-ssc-violet-regular) !important;
  }
  & .icon {
    margin: 0 !important;
  }
  /* Visually hidden elements */
  & .control-label,
  & .form-submit > span:not(.icon) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }
}
