/**
 * @file
 * Styles specific to the Search page.
 */

.search-results .card__summary {
  & strong {
    padding: 0.1em 0.2em;
    background-color: var(--clr-ssc-gray-light);
    font-weight: 500;
  }
  & strong + strong {
    margin-left: -0.2em;
  }
}
