/**
 * @file
 * Styles for the Splash (language selector) page.
 */

.path-lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-ssc-violet-regular);
  background-image: var(--splash-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: 100%;
  padding: 30px;

  @media screen and (max-width: 760px) {
    padding: 0;
  }
  & .region-content {
    padding-block: 30px;
  }
}
.splash-container {
  --splash-padding: 2rem;
  max-width: 760px;
  margin-inline: auto;
  background-color: var(--clr-ssc-white);
  border-radius: 8px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
  margin-top: 30px;

  @media screen and (max-width: 760px) {
    --splash-padding: 1rem;
  }
}
.splash-container--inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--splash-padding);
  margin-top: -1rem;
  padding: var(--splash-padding);
  padding-top: 0;

  @media screen and (max-width: 760px) {
    grid-template-columns: 1fr;
  }
  &::after {
    content: "";
    position: absolute;
    inset-block: 5%;
    left: 50%;
    display: block;
    height: 90%;
    width: 1px;
    background-color: var(--clr-ssc-violet-light);

    @media screen and (max-width: 760px) {
      display: none;
    }
  }
}
.splash-container--thumbnail {
  background-color: var(--clr-ssc-white);
  height: 100px;
  width: 100px;
  margin-inline: auto;
  padding: 15px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 15%);

  @media screen and (max-width: 760px) {
    height: 60px;
    width: 60px;
    padding: 10px;
    border: 2px solid #E4E3E8;
  }
  & svg {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
.splash-container--footer {
  background-color: var(--clr-ssc-gray-light);
  padding-inline: var(--splash-padding);
  padding-block: calc(var(--splash-padding) * 0.75);
  border-radius: 0 0 8px 8px;

  & img {
    height: 20px;
    margin-bottom: 0;
  }
}
.splash-container--block {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.splash-block {
  margin: auto;
  width: 100%;
  text-align: center;
  &.bg {
    border-radius: 8px;
    background-color: var(--clr-ssc-gray-light);
    padding-block: 1rem;
  }
  & h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-block: 1rem;
  }
  & p {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
  & img {
    height: 30px;
    margin-bottom: 15px;

    @media screen and (max-width: 760px) {
      height: 15px;
      margin-bottom: 0;
    }
  }
  & :is(button, .button) {
    width: 80% !important;
    font-size: 0.875rem !important;
    border-radius: 6px;
    padding: 10px 16px !important;
    line-height: 1.3333333 !important;

    @media screen and (max-width: 760px) {
      width: 90% !important;
      font-size: 0.875rem !important;
      border-radius: 6px;
      line-height: 1 !important;
    }
  }
  & p {
    margin-block: 0.75rem 0;
    line-height: 1;
  }
}





@media screen and (max-width: 760px) {


  .splash-container--inner::after {
    display: none;
  }
}
