/**
 * @file
 * Styles specific to teasers lists.
 */
/**
 * @file
 * Styles specific to teasers lists.
 */
.teasers-list {
  & > .view-content,
  & > .view-main > .view-content,
  &.field-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }
}
