/**
 * @file
 * Base styles for HTML elements.
 */

html {
  /* Fixes horizontal scroll when the `container-full-width` class is used */
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 1em;
  interpolate-size: allow-keywords;
}
body {
  background-color: var(--clr-ssc-white);
  color: var(--clr-ssc-black);
  font-family: var(--ff-sans-serif);
  line-height: 1.5;
  text-wrap: pretty;
  text-underline-offset: 0.15em;

  @media screen and (max-width: 767px) {
    padding-top: var(--size-navbar-height);
    padding-bottom: var(--size-dock-height);
    /* Fix right gap issues on mobile */
    overflow-x: hidden;
  }
}
main {
  line-height: 1.65;
}

/* Text */
p {
  margin-block: 0 0.875em;
}
:is(h1, h2, h3, h4, h5, h6),
:is(.h1, .h2, .h3, .h4, .h5, .h6) {
  font-family: inherit;
  line-height: 1.2;
}
:where(h1, h2, h3, h4, h5, h6),
:where(.h1, .h2, .h3, .h4, .h5, .h6) {
  margin-block: 1em 0.625em;
}
:is(h1, .h1) {
  font-size: 2.625rem;
}
:is(h2, .h2) {
  font-size: 2rem;
}
:is(h3, .h3) {
  font-size: 1.75rem;
}
:is(h4, .h4) {
  font-size: 1.5rem;
  font-weight: 500;
}
:is(h5, .h5) {
  font-size: 1.375rem;
  font-weight: 500;
}
:is(h6, .h6) {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Links */
a {
  color: var(--clr-ssc-blue-regular);
  text-decoration: var(--underline-default);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      color var(--time-regular-transition),
      text-decoration-color var(--time-regular-transition);
  }
  &:visited {
    color: var(--clr-ssc-blue-regular);
  }
  &:hover {
    color: var(--clr-ssc-pink-regular);
    text-decoration: var(--underline-active);
  }
}
/* Form elements */
input {
  line-height: 1.25 !important;
}
