<div class="contact-block sidebar-block toc-ignore">
  <div class="collaborator">
    {% block name %}{% endblock %}
  </div>

  <div class="collaborator-title">
    {% block title %}{% endblock %}
  </div>

  {% block content %}{% endblock %}
</div>
