.contact-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 36px;
  padding: 24px;
  padding-top: 40px;
  border-radius: var(--size-border-radius-medium);
  background-color: var(--clr-ssc-gray-light);
  text-align: center;
  line-height: 1.5;

  & .collaborator {
    flex-direction: column;
  }
  & .collaborator--thumbnail {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
  }
  & .collaborator--thumbnail img {
    background-color: var(--clr-ssc-white);
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  }
  & .collaborator--name {
    margin: 0;
    font-size: 1.375rem;
  }
  & .field--name-field-contacts-title {
    font-size: 1rem;
    color: var(--clr-ssc-gray-dark);
  }
  & .field--name-field-body {
    margin-top: 0.25em;
  }
  & .btn {
    display: block;
    font-size: inherit;
  }
}
