<section class="download-block sidebar-block panel panel-default toc-ignore">
  <header class="panel-heading">
    <h3 class="panel-title">
      {{ 'Download'|tc }}
    </h3>
  </header>

  <div class="panel-body">
    {% block content %}{% endblock %}
  </div>
</section>
