.card.card-featured {
  --size-card-gap: 0;
  --size-card-text: 1.25rem;
  --size-card-title: 1.625rem;
  --size-card-padding-outer: 0;
  --size-card-padding-inner: 20px;

  box-shadow: var(--shadow-elevation-low);
  min-height: 360px;
  padding: 0;
  border: 0;
  border-radius: var(--size-card-border-radius);
  outline: solid 4px transparent;
  overflow: hidden;

  @container cardContainer (max-width: 900px) {
    flex-direction: column;
  }
  &:hover {
    outline-color: var(--clr-card-border);
    box-shadow: var(--shadow-elevation-medium);

    & .card__link {
      color: var(--clr-card-text);
    }
  }
  &[data-card-theme="dark"] {
    --clr-card-bg: var(--clr-ssc-black);
    --clr-card-text: var(--clr-ssc-white);
  }
  & .card__image {
    flex: 1;

    @container cardContainer (max-width: 900px) {
      height: 300px;
    }
  }
  & .card__body {
    flex: 1;
  }
}
