{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div>
  <a href="/{{ language }}/active-alerts" class="btn header-link header-link--icon" aria-label="{{ 'Active alerts'|tc }}">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 60 60" xml:space="preserve" height="20px">
      <g>
        <path d="M30.08,59.96c-3.94,0-6.72-3.01-6.72-6.85s2.78-6.85,6.72-6.85c3.78,0,6.57,3.01,6.57,6.85S33.86,59.96,30.08,59.96z M23.98,0.04h11.66L34.4,40.4h-9.11L23.98,0.04z"/>
      </g>
    </svg>
  </a>
</div>
