/**
 * @file
 * Utility classes for layouts.
 */

/* Flexbox */
.flex-align-vertical {
  display: flex;
  align-items: center;
}
.flex-space-between {
  justify-content: space-between;
  gap: 16px;
}

/* Width limiter (limits line length) */
.width-limiter :is(h2, h3, h4, h5, h6, p, ol, ul, dl, blockquote, details, .alert, .well, .panel) {
  max-width: var(--size-width-limiter);
}
.width-limiter .no-limiter {
  max-width: initial;
}

/* Containers */
.container-full-width {
  position: relative;
  left: 50%;
  right: 50%;
  width: calc(100vw - var(--size-scrollbar));
  max-width: unset;
  margin-left: calc(-50vw + (var(--size-scrollbar) / 2));
  margin-right: calc(-50vw + (var(--size-scrollbar) / 2));
}
