/* Table col widths */
.views-table {
  --unit-width: 8.333%;
}
.col-w1 {
  width: var(--unit-width);
}
.col-w2 {
  width: calc(2 * var(--unit-width));
}
.col-w3 {
  width: calc(3 * var(--unit-width));
}
.col-w4 {
  width: calc(4 * var(--unit-width));
}
.col-w5 {
  width: calc(5 * var(--unit-width));
}
.col-w6 {
  width: calc(6 * var(--unit-width));
}
.col-w7 {
  width: calc(7 * var(--unit-width));
}
.col-w8 {
  width: calc(8 * var(--unit-width));
}
.col-w9 {
  width: calc(9 * var(--unit-width));
}
.col-w10 {
  width: calc(10 * var(--unit-width));
}
.col-w11 {
  width: calc(11 * var(--unit-width));
}
.col-w12 {
  width: 100%;
}


