/**
 * @file
 * Styles for the specific page regions.
 */

/* Site header */
.header-region {
  margin-bottom: var(--size-header-margin);
}

/* Site main content */
.main-container {
  isolation: isolate;
}

/* Branding */
.region-branding {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Add padding to the Masquerade text input */
  & input {
    padding-block: 10px;
  }
}

/**
 * Conditionally remove the the default header/footer margin
 */
/* Event pages */
.page-node-type-event {
  --size-footer-margin: 0;
}
/* Campaign pages */
.page-node-type-campaign {
  --size-header-margin: 0;
  --size-footer-margin: 0;
}
/* Landing pages */
.page-node-type-landing-page {
  --size-header-margin: 0;
  --size-footer-margin: 0;
}
/* Pages with a TOC block under the header */
body:has(.block-toc-block) {
  --size-header-margin: 0;
}
/* 404 page */
body:has(.page-not-found) {
  --size-footer-margin: 0;
}
