/**
 * @file
 * Styles for the footer component.
 */
.site-footer {
  --clr-footer-text: var(--clr-ssc-white);
  --clr-footer-link: var(--clr-ssc-violet-light);
  --clr-footer-heading: var(--clr-ssc-white);
  --clr-footer-bg: var(--clr-ssc-violet-dark);
  --clr-footer-accent: var(--clr-ssc-pink-light);
  --clr-footer-separator: var(--clr-ssc-violet-400);
  --clr-footer-logo: color-mix(in srgb, var(--clr-footer-bg), black 25%);

  --clr-subfooter-text: var(--clr-ssc-white);
  --clr-subfooter-link: var(--clr-ssc-violet-light);
  --clr-subfooter-accent: var(--clr-ssc-pink-light);
  --clr-subfooter-bg: var(--clr-ssc-black);

  --size-footer-padding: 60px;
  --size-footer-gap: 60px;
  --size-grid-gap: 30px;

    isolation: isolate;
  margin-top: var(--size-footer-margin);
  color: var(--clr-footer-text);
}
.site-footer__main {
  position: relative;
  min-height: 400px;
  padding-block: var(--size-footer-padding);
  background-color: var(--clr-footer-bg);

  & .site-footer__main__container {
    display: flex;

    @media screen and (max-width: 640px) {
      --size-footer-padding: 30px;

      flex-direction: column;
    }
  }
  & nav {
    padding: 0 !important;
  }
  & h3 {
    margin-bottom: 0.75em !important;
    font-size: 1.5rem;
    color: var(--clr-footer-heading);
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 !important;
  }
  & li {
    margin: 0 !important;
  }
  & a {
    font-size: 1rem !important;
    color: var(--clr-footer-link);
    text-decoration: var(--underline-default) !important;

    &:hover:not(:focus-visible) {
      color: var(--clr-footer-accent);
      text-decoration: var(--underline-active) !important;
    }
    &:focus-visible {
      outline: none;
      color: var(--clr-ssc-black);
      background-color: var(--focus-color-light);
      box-shadow: var(--focus-shadow);
      text-decoration: none;
    }
  }
  & .region {
    flex: 1;
  }
  &:has(.region-footer-second) {
    .region-footer-first {
      padding-right: var(--size-footer-gap);

      @media screen and (max-width: 640px) {
        padding-right: unset;
        padding-bottom: var(--size-footer-gap);
      }
    }
    .region-footer-second {
      padding-left: var(--size-footer-gap);
      border-left: solid 1px var(--clr-footer-separator);

      @media screen and (max-width: 640px) {
        padding-left: unset;
        padding-top: var(--size-footer-gap);
      }
    }
  }
  & .site-footer__logo {
    position: absolute;
    inset-block: 0;
    left: 0;
    display: flex;
    align-items: center;

    & svg {
      height: min(100%, 360px);
      fill: var(--clr-footer-logo);
    }
  }
}

/* Subfooter */
.subfooter {
  padding-block: 12px;
  background-color: var(--clr-subfooter-bg);
  color: var(--clr-subfooter-text);

  & nav {
    padding: 0 !important;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  & li {
    margin: 0 !important;
  }
  & a {
    color: var(--clr-subfooter-link);
    font-size: 1rem !important;
    text-decoration: var(--underline-default) !important;

    &:hover {
      color: var(--clr-subfooter-accent);
      text-decoration: var(--underline-active) !important;
    }
  }
}

/* Logos */
.brand {
  padding-block: 24px !important;
}
.brand__logos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 12px;
}
.brand__ssc-logo {
  max-height: 24px;

  @media screen and (max-width: 767px) {
    max-height: 18px;
  }
}
.brand__gc-logo {
  max-height: 32px;

  @media screen and (max-width: 767px) {
    max-height: 24px;
  }
}

/* Grid */
.footer-grid-container {
  container-type: inline-size;
  container-name: footer-grid-container;
}
.footer-grid {
  --col-3: repeat(auto-fill, minmax(280px, 1fr));
  --col-4: repeat(auto-fill, minmax(220px, 1fr));

  display: grid;
  grid-template-columns: var(--col-4);
  gap: var(--size-grid-gap);

  /* Fix orphans by switching to 3 columns when the grid contains 3, 5 or 6 items. */
  /* Beyond 8 items, the footer would become bloated. */
  @container footer-grid-container (width > 992px) {
    &:has(> :nth-child(3)):not(:has(:nth-child(4))),
    &:has(> :nth-child(5)):not(:has(:nth-child(6))),
    &:has(> :nth-child(6)):not(:has(:nth-child(7))) {
      grid-template-columns: var(--col-3);
    }
  }
}

/* Masonry */
.footer-masonry-container {
  container-type: inline-size;
}
.footer-masonry {
  gap: var(--size-grid-gap);
  columns: 2;

  @container (width < 500px) {
    columns: 1;
  }
}
.footer-masonry > * {
  break-inside: avoid;
  margin-bottom: var(--size-grid-gap);
}
