.fn-lnk,
.wb-fnote .fn-rtn a {
  margin: 0;
  background-color: var(--clr-ssc-white);
  border-radius: 4px;
  border: solid 1px var(--clr-ssc-gray-300);
  font-size: 1rem;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color var(--time-regular-transition) ease,
      border-color var(--time-regular-transition) ease,
      color var(--time-regular-transition) ease;
  }
  &:hover,
  dd:focus & {
    background-color: var(--clr-ssc-black);
    border-color: var(--clr-ssc-black);
    color: var(--clr-ssc-white);
  }
  & sup {
    top: -0.15em;
  }
}
.wb-fnote {
  & dd {
    border-radius: var(--size-border-radius-small);

    &:focus {
      background-color: var(--clr-ssc-gray-light);
      border-color: var(--clr-ssc-gray-300);
    }
  }
}
