/**
 * @file
 * Styles for the form input component.
 */

:is(input, textarea, select):focus-visible {
  outline: var(--focus-outline) !important;
  outline-offset: var(--focus-outline-offset);
  box-shadow: var(--focus-outline-inner) !important;
}
:is(input[type="file"], input[type="radio"], input[type="checkbox"]):focus-visible {
  outline-offset: 2px;
}
input::placeholder,
input[placeholder],
[placeholder],
*[placeholder] {
  color: var(--clr-ssc-gray-regular) !important;
}
legend {
  float: initial;
  color: inherit;
}

/* Drupal-specific form classes */
.form-group {
  margin-bottom: initial;
}
.form-control::placeholder {
  color: var(--clr-ssc-gray-regular) !important;
}

/* File attachment inputs */
.form-type-webform-image-file .form-managed-file {
  margin-bottom: 8px;
}
.form-type-webform-image-file .icon {
  padding: 0;
}
.form-type-webform-image-file .option {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: var(--clr-ssc-gray-light);
  border-radius: var(--size-border-radius-medium);
  font-size: 1.125rem !important;
  color: var(--clr-ssc-blue-regular);
}
.form-type-webform-image-file .option input {
  position: static;
  margin: 0;
}
.form-type-webform-image-file .file {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}
.form-type-webform-image-file .file * {
  padding: 0;
  background-color: transparent !important;
  border: 0 !important;
  font-size: 0.875rem;
  color: inherit;
}
.form-type-webform-image-file .file-icon {
  display: none;
}
.form-type-webform-image-file .btn {
  background-color: var(--clr-ssc-gray-regular);
  font-size: inherit !important;
}

/* Checkboxes and radios */
.form-checkboxes,
.form-radios {
  & .form-item:not(:last-of-type) {
    margin-right: 1rem;
  }
}
:is(.checkbox, .radio) .option {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.3em;
  padding: 0;
  line-height: 1.4 !important;
}
:is(.checkbox, .radio) input {
  margin: 0 0.375rem 0 0;
  line-height: 1;
}
:is(.radio, .radio-inline) input[type="radio"],
:is(.checkbox, .checkbox-inline) input[type="checkbox"] {
  position: unset;
  margin: 0;
  margin-top: 0.25em;
  width: 0.9em;
  aspect-ratio: 1;
}
