/**
 * @file
 * Styles for the Slick Slider component.
 *
 * @summary
 * This component can only be used as a Drupal View format. To use it, select
 * the "Slick Carousel" option along with the "SSC Carousel" optionset.
 */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick--optionset--ssc-carousel {
  & .slick-track {
    display: flex;
    align-items: stretch;
  }
  & .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  & .slick-slide {
    height: auto;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;

    & > article,
    & > article > .content,
    & .views-element-container,
    & .view,
    & .featured-news-item {
      height: 100%;
    }
  }
}

/* Dots */
.slick-dots {
  position: static;
  line-height: 1;
  margin-top: var(--size-spacing-md);

  /**
   * Conditionally hide dots if there's only a single dot to shot.
   * This is better done with CSS, since the amount of dots may change as the
   * amount of dots can change as the user resizes their viewport.
   */
  &:not(:has(:nth-child(2))) {
    display: none;
  }
  &:focus-within .slick-active {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    box-shadow: var(--focus-outline-inner);
    border-radius: 100vw;
  }
  & li {
    margin-bottom: 0;
    margin-inline: 15px;
  }
  & li button {
    background-color: var(--clr-ssc-black);
    border: 3px solid var(--clr-ssc-black);
    box-shadow: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    @media (prefers-reduced-motion: no-preference) {
      transition: all var(--time-regular-transition);
    }
    &:hover {
      background-color: var(--clr-ssc-gray-regular);
    }
    &::before {
      display: none;
    }
    .slick-active & {
      background-color: var(--clr-ssc-white);
    }
  }
}

/* Slick Arrows */
.slick-arrow {
  display: grid;
  place-items: center;
  top: calc(50% - 18px);

  &:is(:hover, :focus) {
    text-decoration: none !important;
  }
  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    box-shadow: var(--focus-outline-inner);
  }
  &::before {
    color: var(--clr-ssc-black);
    text-shadow: none;
    font-family: var(--ff-font-awesome);
    font-weight: 900;
    font-size: 25px;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    border-radius: 100vw;
    align-items: center;

    @media (prefers-reduced-motion: no-preference) {
      transition:
        background-color var(--time-regular-transition),
        color var(--time-regular-transition);
    }
  }
  &:hover::before {
    background-color: var(--clr-ssc-black);
    color: var(--clr-ssc-white);
  }
  .bg--inverted &::before {
    color: var(--clr-ssc-gray-light);
  }
}
.slick-next {
  margin-right: -60px;

  &::before {
    content: "\f105" !important;
  }
}
.slick-prev {
  margin-left: -60px;

  &::before {
    content: "\f104" !important;
  }
}
