/**
 * @file
 * Styles for the SSC loading spinner.
 */
.ssc-spinner {
  --time-spinner-delay: 60ms;
  --size-spinner-width: 80px;

  display: grid;
  place-content: center;
  width: var(--size-spinner-width);
  aspect-ratio: 1;
  padding: calc(var(--size-spinner-width) / 5);
  border-radius: 100vw;
  background-color: var(--clr-ssc-violet-regular);
  box-shadow: 0 6px 10px -6px rgb(0 0 0 / 0.5);
  transform: translate(-100%, -100%);
  animation: glide-in 300ms var(--ease-out-cubic);
  animation-fill-mode: forwards;
}
.ssc-spinner--fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ssc-spinner-icon {
  width: 100%;
  fill: #fff;
}
.ssc-spinner-icon > path {
  animation: rotate 1200ms var(--ease-out-cubic);
  animation-iteration-count: infinite;
  transform-origin: center;
  will-change: transform;

  &:nth-of-type(2) {
    animation-delay: calc(1 * var(--time-spinner-delay));
  }
  &:nth-of-type(3) {
    animation-delay: calc(2 * var(--time-spinner-delay));

  }
  &:nth-of-type(4) {
    animation-delay: calc(3 * var(--time-spinner-delay));
  }
}

/* Keyframe animations */
@keyframes glide-in {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
